<!DOCTYPE html>
<html>
<head>
    {{ JSGlue.include() }}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <title>Atari DQN</title>
</head>
<body>
<div class="container-full">

    <div class="jumbotron">
        <h1>Agent playing Atari games using Deep Q-Learning algorithm.</h1>
        <p>Project for Artificial Intelligence course.</p>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3">
	<!-- Id of these buttons have to be the same as endpoint. -->
	<div id="gameButtons" class="col-md-12 text-center">
	        <button type="button" id="game1" class="btn btn-primary">Breckout</button>
	        <button type="button" id="game2" class="btn btn-primary">CartPole</button>
		<button type="button" id="game3" class="btn btn-primary">MsPacman</button>
		<button type="button" id="game4" class="btn btn-primary">Pong</button>
		<button type="button" id="game5" class="btn btn-primary">SpaceInvaders</button>
	</div>
	<div class="col-md-12 text-center mt-4">
		<button type="button" id="stop_button" class="btn btn-danger">Stop</button>
	</div>
    </div>
        <div class="col-md-4" id="preview">
{#            <img id="preview">#}
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

</body>
</html>
